*~
*.log
*.swp
*.[a|o]
*~
*.psd
*.bak
*.pyc
.DS_Store
.vagrant
config.py
.env
build/*
data/*
tmp
tags
.tags*
.vscode
.ropeproject
.project
.pydevproject
*.sublime-project
*.sublime-workspace
__pycache__
